body {
	background-color: #CCCCCC;
}

#info {
	width: 80%;
	background-color: #FFFFFF;
	color: #000000;
	padding: 10px;
}

#footer {
	width: 80%;
	background-color: #CCCCCC;
	color: #CCCCCC;
}

table.absmax {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
}

table.absmax tr {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
}

table.absmax th {
	text-align: left;
}

.calc_btn{
	background: #0288D1;
	text-align: center;
	border-radius: 3px 0 0 3px;
	height: 40px;
	color: white;
}
